<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Klinik</title>
    <!-- Tambahkan CSS dan JavaScript sesuai kebutuhan -->
</head>
<body>
    <h1>Selamat Datang!</h1>
    <h2><%= user.fullName %></h2>
    <p>ID Klinik: <%= user.clinicId %></p>
    
    <div>
        <form action="/periksa-antrian" method="get">
            <button type="submit">Periksa Antrian Pasien</button>
        </form>
        <form action="/manajemen-konsultasi" method="get">
            <button type="submit">Manajemen Konsultasi Online</button>
        </form>
    </div>

    <p>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </p>
</body>
</html>
