<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Halo, <%= user.fullName %></h1>
    <p>Selamat datang di MediQ untuk Klinik!</p>

    <p>
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </p>
</body>
</html>
