<!DOCTYPE html>
<html>
<head>
    <title>Pilih Jadwal</title>
    <script>
        function setDefaultTimezone() {
            var timeInputs = document.querySelectorAll('input[type="time"]');
            var offset = new Date().getTimezoneOffset();
            var timezone = 'Asia/Jakarta';
            var offsetJakarta = -420;

            timeInputs.forEach(function(input) {
                if (offset !== offsetJakarta) {
                    var currentTime = new Date();
                    var hours = currentTime.getHours();
                    var minutes = currentTime.getMinutes();
                    input.value = hours + ':' + minutes;
                }
            });
        }

        document.addEventListener('DOMContentLoaded', setDefaultTimezone);
    </script>
</head>
<body>
    <h1>Pilih Jadwal Konsultasi</h1>
    <% if (doctors.length > 0) { %>
        <% doctors.forEach(function(doctor) { %>
            <div class="doctor-info">
                <h2><%= doctor.name %></h2>
                <form action="<%= '/konsultasi-kesehatan/' + (doctor.bidang == 'umum' ? 'dokter-umum' : doctor.bidang == 'anak dan remaja' ? 'dokter-anak-remaja': doctor.bidang == 'gigi dan mulut' ? 'dokter-gigi-mulut': doctor.bidang == 'lansia' ? 'dokter-lansia' : doctor.bidang == 'ibu dan kb' ? 'dokter-ibu-kb' : doctor.bidang == 'gizi' ? 'dokter-gizi' : '') + '/' + encodeURIComponent(doctor.id) + '/booking' %>" method="post" method="post">
                    <label for="tanggal">Pilih Tanggal:</label>
                    <input type="date" id="tanggal" name="tanggal" required><br>
        
                    <label for="waktu">Pilih Waktu:</label>
                    <input type="time" id="waktu" name="waktu" required><br>
        
                    <button type="submit">Pesan Konsultasi</button>
                </form>
            </div>
        <% }); %>
    <% } else { %>
        <p>Belum ada dokter yang tersedia.</p>
    <% } %>
    
</body>
</html>
